<div class="row">
    <h2>@ViewBag.Title</h2>
    <div class="col-md-6">
        <div id="testapp" v-cloak></div>
    </div>
</div>

@section prescripts {
    <script src="~/js/dist/test.js"></script>
}