@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div id="app" v-cloak></div>
    </div>
</div>

@section prescripts {
    <script src="~/js/dist/build.js"></script>
}